<!-- source: https://mambaui.com/components/hero -->
<section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">Welcome to my neural backup
			<span class="dark:text-violet-400 text-blue-600">where:</span>
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">single bit errors are detected and corrected, double bit errors are detected and reported, and undetected errors are ignored.</p>
		<div class="flex flex-wrap justify-center">
			<a href="/blog">
        <button class="px-8 py-3 m-2 text-lg border rounded font-semibold dark:bg-violet-400 dark:text-gray-900">Read my Blog</button>
      </a>
      <a href="/projects">
			  <button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700">Visit the Mad Lab</button>
      </a>
		</div>
	</div>
</section>
